<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :player %>
    <%= form.check_box :player, id: :user_player %>
  </div>

  <div class="field">
    <%= form.label :sherpa %>
    <%= form.check_box :sherpa, id: :user_sherpa %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :user_location %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.text_field :available, id: :user_available %>
  </div>

  <div class="field">
    <%= form.label :game %>
    <%= form.text_field :game, id: :user_game %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
