<h1>Editing User</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <% @user = current_user %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <h3> As a sherpa, please enter your location and availability </h3>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :user_location %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.text_field :available, id: :user_available %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<!-- Form needs to perform update when user clicks "save" - currently it's not updating values in the database-->

<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
