<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
<h1>Your Sherpa Account</h1>
</div>

<!-- <%= form_tag users_path, :method => 'get' do %>
<p>
    <%= text_field_tag :name, params[:name], value: current_user.name %>
    <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
  </p>
<% end %> -->


<table class="table table-hover">
    <thead>
    <tr>
      <th>Your Name</th>
      <!-- <th>Player</th>
      <th>Sherpa</th> -->
      <th>Location</th>
      <th>Availability </th>
      <th>Your Games</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <!-- <td><%= user.player %></td>
        <td><%= user.sherpa %></td> -->
        <td><%= user.location %></td>
        <td><%= user.available %></td>
        <td><%= user.games.first.try(:name) %></td>

        <!-- <td><%= link_to 'Show', user %></td> -->
        <td><%= link_to 'Edit Account Info And Add Games', edit_user_path(user) %></td>
        <!-- <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New User', new_user_path %> -->
