<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Player:</strong>
  <%= @user.player %>
</p>

<p>
  <strong>Sherpa:</strong>
  <%= @user.sherpa %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Available:</strong>
  <%= @user.available %>
</p>

<p>
  <strong>Your Games:</strong>
  <%= @user.games.last.try(:name) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
