<%# <%= form_with(model: event, local: true) do |form| %>
<% form_for( @event, :html => { :multipart => true }) do |form | %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Event Host: <strong><%= current_user.name %></strong>
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :event_user_id, value: current_user.id, class: 'display-none' %>
  </div>

  <div class="field">
    Event Game: <strong><%= params[:game_name]  %></strong>
  </div>

  <!-- <div class="field">
    Event Game: <strong> <%= params[:game_name] %> </strong>
    <% form.label :game_id %>
    <%= form.number_field :game_id, id: :event_game_id, value: params[:game_id], class: 'display-none' %>
  </div> -->
<%#
  <div class="field">
    <%= form.label :sherpa_id %>
    <%# <%= form.number_field :sherpa_id, id: :sherpa_id, placeholder: "Pass in here" %>

  <div class="actions">
    <%= form.submit "Select Game Sherpa", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= form_tag do %>

  <fieldset>
    <strong>
    <%= label_tag = "Select preferred sherpa:" %>
    </strong>
    <br />

<!-- TO DO
- match on location, availability (implement calendar selection screen)
- fix broken routing from here
 -->

    <% @sherpalist = User.where(sherpa: true).where.not(name: nil) %>
    <%= select_tag :sherpa_id, options_for_select(@sherpalist.pluck(:name, :id)), :include_blank => true %>

  </fieldset>
  <br />
  <div class="form-group">
    <label></label>
    <%= submit_tag nil, :class => 'btn btn-info'  %>
  </div>

<% end %>
