<p id="notice"><%= notice %></p>
We've matched your event to the following sherpa:
<p>
<%= @outputname %>
</p>

<div class="jumbotron text-center">
  <h1>Select your sherpa!</h1>
</div>

<div class="field">
  Event Host: <strong><%= current_user.name %></strong>
</div>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%= render 'form2', event: @event %>
