<div class="defaultspacer">
<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <h1>Select your sherpa!</h1>
</div>

<!-- <div class="field">
  Event Host: <strong><%= current_user.name %></strong>
</div> -->

<h3>We recomend <strong><%= @outputname %></strong> as your Sherpa</h3>
</br>
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%= render 'form2', event: @event %>

<div class="space-70"></div><div class="space-30"></div>
</div>