<h1>
For enquiries, contact us at:</h1>
<br/>
<h3>Abdul
  <br/>
    <%= link_to "Twitter", "https://twitter.com/oolakunle", target: :_blank, :class => "badge badge-primary" %>
    <%= link_to "Github", "https://github.com/oolakunle", target: :_blank, :class => "badge badge-secondary" %>
</h3>

<br/>

<h3>Austin
  <br/>
    <%= link_to "Github", "https://github.com/austinnash80", target: :_blank, :class => "badge badge-secondary" %>
</h3>

<br/>

<h3>Bonny
  <br/>
    <%= link_to "Twitter", "https://twitter.com/BonnySentrosi", target: :_blank, :class => "badge badge-primary" %>
    <%= link_to "Github", "https://github.com/Sentrosi-Git", target: :_blank, :class => "badge badge-secondary" %>
</h3>

<br/>

<h3>Ivor
  <br/>
    <%= link_to "Twitter", "https://twitter.com/ivorjking", target: :_blank, :class => "badge badge-primary" %>
    <%= link_to "Github", "https://github.com/ivorking", target: :_blank, :class => "badge badge-secondary" %>
</h3>

<br/>

<h3>James
  <br/>
    <%= link_to "Github", "https://github.com/archihouse", target: :_blank, :class => "badge badge-secondary" %>
</h3>

</p>
