
<div class="defaultspacer">
<div class="jumbotron text-center">
<%= image_tag("CONTACTUS.png", :class => "img-fluid ")%>
</div>
<h4>
For enquiries, contact us at:
</h4>
<br/>
<h4>Abdul
  <br/>
    <%= link_to "Twitter", "https://twitter.com/oolakunle", target: :_blank, :class => "badge badge-success" %>
    <%= link_to "Github", "https://github.com/oolakunle", target: :_blank, :class => "badge badge-secondary" %>
</h4>

<br/>

<h4>Austin
  <br/>
    <%= link_to "Github", "https://github.com/austinnash80", target: :_blank, :class => "badge badge-secondary" %>
</h4>

<br/>

<h4>Bonny
  <br/>
    <%= link_to "Twitter", "https://twitter.com/BonnySentrosi", target: :_blank, :class => "badge badge-success" %>
    <%= link_to "Github", "https://github.com/Sentrosi-Git", target: :_blank, :class => "badge badge-secondary" %>
</h4>

<br/>

<h4>Ivor
  <br/>
    <%= link_to "Twitter", "https://twitter.com/ivorjking", target: :_blank, :class => "badge badge-success" %>
    <%= link_to "Github", "https://github.com/ivorking", target: :_blank, :class => "badge badge-secondary" %>
</h4>

<br/>

<h4>James
  <br/>
    <%= link_to "Github", "https://github.com/archihouse", target: :_blank, :class => "badge badge-secondary" %>
</h4>

</p>
<div class="space-70"></div><div class="space-50"></div>
</div>
