<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Min players</th>
      <th>Max players</th>
      <th>Age</th>
      <th>Playing time</th>
      <th>Category</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><% if game.name.present? %><%= game.name %><% end %></td>
        <td><% if game.min_players.present? %><%= game.min_players %><% end %></td>
        <td><% if game.max_players.present? %><%= game.max_players %><% end %></td>
        <td><% if game.age.present? %><%= game.age %><% end %></td>
        <td><% if game.playing_time.present? %><%= game.playing_time %><% end %></td>
        <td><% if game.category.present? %><%= game.category %><% end %></td>
        <td><% if game.description.present? %><%= game.description %><% end %></td>
        <td><% if game.image.present? %><%= game.image %><% end %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
