<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
<h1>Games</h1>
</div>




<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Min players</th>
      <th>Max players</th>
      <th>Age</th>
      <th>Playing time</th>
      <th>Category</th>
      <th>Description</th>
      <!-- <th>Image</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="form-page">
  <h1>Search for a board game</h1>

  <form action="/games/result">
    <label>Enter a board game:</label>
    <input type="text" name="title" placeholder="e.g. Settlers of Cataan" required autofocus=true><br>
    <button>Search</button>
    <div class="stop-right-there">
      <%= flash[:notice] %>
    </div>
  </form>
</div>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.min_players %></td>
        <td><%= game.max_players %></td>
        <td><%= game.age %></td>
        <td><%= game.playing_time %></td>
        <td><%= game.category %></td>
        <td><%= game.description %></td>
        <!-- <td><%= game.image %></td> -->
        <td><%= link_to 'Select', game, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Chat', new_chat_room_path %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
