<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
<h1>Games</h1>
</div>




<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Min players</th>
      <th>Max players</th>
      <th>Age</th>
      <th>Playing time</th>
      <th>Category</th>
      <th>Description</th>
      <!-- <th>Image</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <form id="search">
        <input type="search" id="query" value="Board Game" autofocus>
        <button>Search</button>
      </form>
      <p id="data"></p>

  <script>
  const $data = $('#data'); //

$.getJSON({
  url: 'https://boardgamegeek.com/xmlapi/boardgame/?&stats=1', // get request for API from following url
  success: function(data) { // success function - passes the returned data in text status of the response
    $.each(data, function(i, element){ // each function - goes through each item in an array and runs a function for each item and query
      $data.append(`'<p>Name: ${element.boardgames}</p>'`);
      $data.append(`'<p>Region: ${element.boardgames.boardgame.age}</p>'`);
      $data.append(`'<p>Titles: ${element.boardgames.boardgame.playingtime}</p>'`);
      $data.append(`'<p>Seat: ${element.seats}</p>'`);
      $data.append(`'<p>Lord: ${element.currentLord}</p>'`);
      $data.append(`'<p>Heir: ${element.heir}</p>'`);
    });
  }
});
</script>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.min_players %></td>
        <td><%= game.max_players %></td>
        <td><%= game.age %></td>
        <td><%= game.playing_time %></td>
        <td><%= game.category %></td>
        <td><%= game.description %></td>
        <!-- <td><%= game.image %></td> -->
        <td><%= link_to 'Select', game, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Chat', new_chat_room_path %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
