<div class="defaultspacer">
<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
<%= image_tag("MYGAMES.png", :class => "img-fluid ")%>
</div>

<div class="defaultspacer">
<div class="form-page">
<h1>Find your board game</h1>
</br>
</div>
<!-- Search/filter our database  to find a game-->

<div class="row col-sm-3">
  <h3 class>Search Existing Games</h3>
  <%= form_tag games_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :name, params[:name], placeholder: 'Monopoly', class: 'form-control' %>
      <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
    </p>
  <% end %>
</div>

<!-- Search our API database to add a game-->
<div class="row col-sm-3">
<form action="/games/result">
  <!-- <label>Enter a board game:</label> -->
  <h3>Add a New Game</h3>
  <input class="form-control" type="text" name="title" placeholder="e.g. Settlers of Cataan" required autofocus=true></input>


  <button class="btn btn-default">Search</button>

  <div class="stop-right-there">
    <%= flash[:notice] %>
  </div>
</form>
</div>

<div>
  <%= link_to "Clear Search", games_path, class: 'btn btn-default' %>
</div>


</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Min players</th>
      <th>Max players</th>
      <th>Age</th>
      <th>Playing time</th>
      <th>Category</th>
      <th>Description</th>
      <!-- <th>Image</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.min_players %></td>
        <td><%= game.max_players %></td>
        <td><%= game.age %></td>
        <td><%= game.playing_time %></td>
        <td><%= game.category %></td>
        <td><%= game.description.html_safe? %></td>
        <% if game.image.present? %>
        <td><%= image_tag game.image, :alt => game.name, :class => 'thumb' %></td>
        <% else %>
        <td><%= game.name %></td>
        <% end %>
        <% if user_signed_in? && current_user.player == true %>
          <td><%= link_to 'Select', game, class: 'btn btn-primary' %></td>
        <% end %>
        <!-- <td><%= link_to 'Edit', edit_game_path(game) %></td> -->
        <td><%= link_to 'Chat Room', new_chat_room_path %></td>
        <!-- <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<div class="space-70"></div><div class="space-30"></div>
<!-- <%= link_to 'New Game', new_game_path %> -->

</div>
