<div class="search-results">
  <h2>Top hit:</h2>
  <div class="flex-row">
      <div class="details search-results">
        <h1><%= @name %></h1>
        <h2><%= @description %></h2>
        <h2><%= @min_players %></h2>
        <h2><%= @max_players %></h2>
        <h2><%= @age %></h2>
        <h2><%= @playing_time %></h2>
      </div>
  </div>
</div>
