<p id="notice"><%= notice %></p>

<div class="jumbotron text-center">
  <h1>
    <%= @game.name %>
  </h1>
</div>

<p>
  <strong>Game ID:</strong>
  <%= @game.id %>
</p>

<!-- <p>
  <strong>Name:</strong>
  <%= @game.name %>
</p> -->

<p>
  <strong>Min players:</strong>
  <%= @game.min_players %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @game.max_players %>
</p>

<p>
  <strong>Age:</strong>
  <%= @game.age %>
</p>

<p>
  <strong>Playing time:</strong>
  <%= @game.playing_time %>
</p>

<p>
  <strong>Category:</strong>
  <%= @game.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @game.image, :alt => @game.name, :class => 'thumb' %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<div>
<%= link_to 'Select This Game for Your Event', new_event_path(:game_id => @game.id, :game_name => @game.name), class: 'btn btn-primary' %>
