<%= form_with(model: sherpa, local: true) do |form| %>
  <% if sherpa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sherpa.errors.count, "error") %> prohibited this sherpa from being saved:</h2>

      <ul>
      <% sherpa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sherpa_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :sherpa_email %>
  </div>

  <div class="field">
    <%= form.label :passward %>
    <%= form.text_field :passward, id: :sherpa_passward %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, id: :sherpa_password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :lcoation %>
    <%= form.text_field :lcoation, id: :sherpa_lcoation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
