<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sherpa.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sherpa.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @sherpa.password %>
</p>

<p>
  <strong>Password confirmation:</strong>
  <%= @sherpa.password_confirmation %>
</p>

<p>
  <strong>Location:</strong>
  <%= @sherpa.location %>
</p>

<%= link_to 'Edit', edit_sherpa_path(@sherpa) %> |
<%= link_to 'Back', sherpas_path %>
